body {
    background-color: #292929;
    color: #E4FDE1;
}

.content {
    width: 28rem;
    height: 22rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
 }

#prompt-instruction {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#prompt-text {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

#prompt-input {
    background-color: #E4FDE1;
    white-space: pre-wrap;
    height: 14rem;
    width: 25rem;
    padding: 1rem 1rem;
    border-style: none;
    border-color: Transparent;
    overflow: auto;
    outline: none;
    resize: none;
    border-radius: 5px;
    font-size: 1rem;
}

.copy {
    float: left;
    margin: 1rem 0 0.75rem 1.5rem;
}

.copy > button {
    background-color: #292929;
    border: 2px solid #E4FDE1;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.copy > button:hover {
    background-color: #E4FDE1; 
    color: #292929;
}

#prompt-clear-btn {
    margin-left: 5.5rem;
}

#copy-confirm-message {
    display: inline-block;
    margin-left: 0.5rem;
    font-size: 1rem;
}

.visible {
    visibility: visible;
    
}
  
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}  


.gradient-border {
    margin: 0 auto;
    height: 14rem;
    width: 25rem;
    --borderWidth: 5px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 7s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }